
.main-div{
display: flex;
height: 150px;
}
.d-div1{
    width: 50%;
    background-color: coral;
    text-align: center;
    
}
.d-div2{
    width: 50%;
    background-color: darkcyan;
    text-align: center;
    height: 330px;
}
.a{
    margin-bottom: 500px;
}